{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/style.css' %}">
</head>
<body>
<div>
    <ul>
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'add-email' %}">Add Email</a>
        </li>
        <li>
            <a href="{% url 'send-to-emails' %}">Send Emails</a>
        </li>
    </ul>
</div>

    {% block content %}
    {% endblock %}

</body>
</html>